// General Styles
.gameboy-corner {
    border-radius: 10px 10px 30px 10px;
}

// Gameboy Styles
#root {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

#gameboy {
    background-color: $gameboy-grey;
    color: $black;
    width: 400px;
    min-height: 100vh;
    height: 100%;
    padding: 10px;

    #screen-container {
        background-color: $main-grey;
        color: $black;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 9fr;
        gap: 5px;
        padding: 10px 25px 25px 10px;

        #settings-container {
            font-size: 12px;
            height: 100%;

            ul {
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 10px 0;
            }

            button {
                padding: 0;
                width: 30px;
            }
        }
    }

    #gameboy-label {
        padding: 5px;
        display: flex;
        align-items: center;
        gap: 5px;
    }
}

#screen {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: $black;
    color: $white;
    &.is-dark {
        background-color: $white;
        color: $black;
    }
    padding: 5px;
    box-shadow: inset 0 0 10px 2px $main-grey;
    aspect-ratio: 10/9;
}

#buttons-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 100%;
    padding: 10px 10px 50px;
    color: $dark-grey;
    a {
        color: $dark-grey;
    }

    #top-buttons {
        display: grid;
        grid-template-columns: auto 1fr auto;
        width: 100%;
        #d-pad {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            #up{
                border: 3px solid;
                border-bottom-style: none;
                z-index: 4;
                background-color: #cccccc;
                border-color: $black;
                border-radius: 5px 5px 0px 0px;
                cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
            }
            #left{
                border-right-style: none !important;
                z-index: 4;
                background-color: #cccccc;
                border: 3px solid;
                border-color: $black; 
                border-radius: 5px 0px 0px 5px;
                cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
            }
            #center{
                border-image-outset: 4;
                border-color: #cccccc;
                background-color: #cccccc;
                cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
                position: relative;

                .center-dot {
                    transform: none;
                    padding: 0;
                    margin: 0;
                    background-color: $black;
                    border: none;
                    width: 2px;
                    height: 2px;
                    border-radius: 0;
                    position: absolute;

                    &.dot-one {top: 0; left: 0;}
                    &.dot-two {top: 0; right: .2px;}
                    &.dot-three {bottom: .2px; left: 0;}
                    &.dot-four {bottom: .2px; right: .2px;}
                }

            }
            #down{
                border-top-style: none !important;
                z-index: 4;
                background-color: #cccccc;
                border: 3px solid;
                border-color: $black;
                border-radius: 0px 0px 5px 5px;
                cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
            }
            #right{
                border-left-style: none !important;
                z-index: 4;
                background-color: #cccccc;
                border: 3px solid;
                border-color: $black;
                border-radius: 0px 5px 5px 0px;
                cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
            }
            div {
                height: 40px;
                aspect-ratio: 1;

                &.d-pad {
                    background-color: $main-grey;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        #top-button-icons {
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                transform: rotate(-35deg);
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 30px;
                background-color: #cccccc;
                border: 3px solid;
                border-color: $black;
                border-right-color: #3e3e3e;
                border-bottom-color: #3e3e3e;
                cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
            }
            span:hover {
                background-color: #dbdada;
            }
        }
    }

    #bottom-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        
        div {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    span {
        font-family: Arial;
        transform: rotate(-35deg);
        border-radius: 30px;
        background-color: $main-grey;
        color: $black;
        padding: 8px 10px 10px;
        border: 3px solid;
        border-color: $black;
        border-right-color: #3e3e3e;
        border-bottom-color: #3e3e3e;
        cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
    }
    span:hover {
        background-color:#dbdada;
    }
}