@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import "../../node_modules/nes.css/css/nes.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, button, a {
  font-size: 12px;
}
p.title, p.big-text, button.title, button.big-text, a.title, a.big-text {
  font-size: 16px;
}

.gameboy-corner {
  border-radius: 10px 10px 30px 10px;
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

#gameboy {
  background-color: #675e9d;
  color: #cccccc;
  width: 400px;
  min-height: 100vh;
  height: 100%;
  padding: 10px;
}
#gameboy #screen-container {
  background-color: #cccccc;
  color: black;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 9fr;
  gap: 5px;
  padding: 10px 25px 25px 10px;
}
#gameboy #screen-container #settings-container {
  font-size: 12px;
  height: 100%;
}
#gameboy #screen-container #settings-container ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}
#gameboy #screen-container #settings-container button {
  padding: 0;
  width: 30px;
}
#gameboy #gameboy-label {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

#screen {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: black;
  color: white;
  padding: 5px;
  box-shadow: inset 0 0 10px 2px #cccccc;
  aspect-ratio: 10/9;
}

#buttons-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100%;
  padding: 10px 10px 50px;
  color: #888888;
}
#buttons-container a {
  color: #888888;
}
#buttons-container #top-buttons {
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 100%;
}
#buttons-container #top-buttons #d-pad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
#buttons-container #top-buttons #d-pad div {
  height: 40px;
  aspect-ratio: 1;
}
#buttons-container #top-buttons #d-pad div.d-pad {
  background-color: #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
#buttons-container #top-buttons #top-button-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
#buttons-container #top-buttons #top-button-icons span {
  transform: rotate(-35deg);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
#buttons-container #bottom-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#buttons-container #bottom-buttons div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#buttons-container span {
  font-family: Arial;
  transform: rotate(-35deg);
  border-radius: 30px;
  background-color: #cccccc;
  color: black;
  padding: 8px 10px 10px;
}