@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import "../../node_modules/nes.css/css/nes.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
button,
a {
  font-size: 12px;
}
p.title, p.big-text,
button.title,
button.big-text,
a.title,
a.big-text {
  font-size: 16px;
}

@media screen and (min-width: 400px) {
  .mobile-bookmark {
    padding: 0;
  }
}
.tablet {
  display: none !important;
}

.gameboy-corner {
  border-radius: 10px 10px 30px 10px;
}

#root, body {
  overflow: hidden !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

body {
  width: 100vw;
  height: 100vh;
}

#gameboy {
  background-color: #A6A6A6;
  color: black;
  width: 400px;
  height: 100vh;
  max-height: 675px !important;
  padding: 10px;
  overflow: hidden;
}
#gameboy #screen-container {
  background-color: #cccccc;
  color: black;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 9fr;
  gap: 5px;
  padding: 10px 25px 25px 10px;
}
#gameboy #screen-container #settings-container {
  font-size: 12px;
  height: 100%;
}
#gameboy #screen-container #settings-container ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}
#gameboy #screen-container #settings-container button {
  padding: 0;
  width: 30px;
}
#gameboy #gameboy-label {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

#screen {
  width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: black;
  color: white;
  position: relative;
  padding: 5px;
  box-shadow: inset 0 0 10px 2px #cccccc;
  aspect-ratio: 10/9;
}
#screen.is-dark {
  background-color: white;
  color: black;
}

#buttons-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100%;
  padding: 10px 10px 50px;
  color: #888888;
}
#buttons-container a {
  color: #888888;
}
#buttons-container #top-buttons {
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 100%;
}
#buttons-container #top-buttons #d-pad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
#buttons-container #top-buttons #d-pad #up:hover, #buttons-container #top-buttons #d-pad #down:hover, #buttons-container #top-buttons #d-pad #center:hover, #buttons-container #top-buttons #d-pad #left:hover, #buttons-container #top-buttons #d-pad #right:hover {
  background-color: #dbdada;
}
#buttons-container #top-buttons #d-pad #up {
  border: 3px solid;
  border-bottom-style: none;
  z-index: 4;
  background-color: #cccccc;
  border-color: black;
  border-radius: 5px 5px 0px 0px;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}
#buttons-container #top-buttons #d-pad #left {
  border-right-style: none !important;
  z-index: 4;
  background-color: #cccccc;
  border: 3px solid;
  border-color: black;
  border-radius: 5px 0px 0px 5px;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}
#buttons-container #top-buttons #d-pad #center {
  border-image-outset: 4;
  border-color: #cccccc;
  background-color: #cccccc;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
  position: relative;
}
#buttons-container #top-buttons #d-pad #center .center-dot {
  transform: none;
  padding: 0;
  margin: 0;
  background-color: black;
  border: none;
  width: 2px;
  height: 2px;
  border-radius: 0;
  position: absolute;
}
#buttons-container #top-buttons #d-pad #center .center-dot.dot-one {
  top: 0;
  left: 0;
}
#buttons-container #top-buttons #d-pad #center .center-dot.dot-two {
  top: 0;
  right: 0.2px;
}
#buttons-container #top-buttons #d-pad #center .center-dot.dot-three {
  bottom: 0.2px;
  left: 0;
}
#buttons-container #top-buttons #d-pad #center .center-dot.dot-four {
  bottom: 0.2px;
  right: 0.2px;
}
#buttons-container #top-buttons #d-pad #down {
  border-top-style: none !important;
  z-index: 4;
  background-color: #cccccc;
  border: 3px solid;
  border-color: black;
  border-radius: 0px 0px 5px 5px;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}
#buttons-container #top-buttons #d-pad #right {
  border-left-style: none !important;
  z-index: 4;
  background-color: #cccccc;
  border: 3px solid;
  border-color: black;
  border-radius: 0px 5px 5px 0px;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}
#buttons-container #top-buttons #d-pad div {
  height: 40px;
  aspect-ratio: 1;
}
#buttons-container #top-buttons #d-pad div.d-pad {
  background-color: #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
#buttons-container #bottom-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#buttons-container #bottom-buttons div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#buttons-container span {
  font-family: Arial;
  transform: rotate(-35deg);
  border-radius: 30px;
  background-color: #cccccc;
  color: black;
  padding: 8px 10px 10px;
  border: 3px solid;
  border-color: black;
  border-right-color: #3e3e3e;
  border-bottom-color: #3e3e3e;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}
#buttons-container span:hover {
  background-color: #dbdada;
}

#d-pad-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 50px;
  color: #888888;
}
#d-pad-container a {
  color: #888888;
}

#d-pad {
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}
#d-pad #up:hover, #d-pad #down:hover, #d-pad #center:hover, #d-pad #left:hover, #d-pad #right:hover {
  background-color: #dbdada;
}
#d-pad #up {
  border: 3px solid;
  border-bottom-style: none;
  z-index: 4;
  background-color: #cccccc;
  border-color: black;
  border-radius: 5px 5px 0px 0px;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}
#d-pad #left {
  border-right-style: none !important;
  z-index: 4;
  background-color: #cccccc;
  border: 3px solid;
  border-color: black;
  border-radius: 5px 0px 0px 5px;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}
#d-pad #center {
  border-image-outset: 4;
  border-color: #cccccc;
  background-color: #cccccc;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
  position: relative;
}
#d-pad #center .center-dot {
  transform: none;
  padding: 0;
  margin: 0;
  background-color: black;
  border: none;
  width: 2px;
  height: 2px;
  border-radius: 0;
  position: absolute;
}
#d-pad #center .center-dot.dot-one {
  top: 0;
  left: 0;
}
#d-pad #center .center-dot.dot-two {
  top: 0;
  right: 0.2px;
}
#d-pad #center .center-dot.dot-three {
  bottom: 0.2px;
  left: 0;
}
#d-pad #center .center-dot.dot-four {
  bottom: 0.2px;
  right: 0.2px;
}
#d-pad #down {
  border-top-style: none !important;
  z-index: 4;
  background-color: #cccccc;
  border: 3px solid;
  border-color: black;
  border-radius: 0px 0px 5px 5px;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}
#d-pad #right {
  border-left-style: none !important;
  z-index: 4;
  background-color: #cccccc;
  border: 3px solid;
  border-color: black;
  border-radius: 0px 5px 5px 0px;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}
#d-pad div {
  height: 40px;
  aspect-ratio: 1;
}
#d-pad div.d-pad {
  background-color: #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

#top-button-icons {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 37.5px;
  color: #888888;
}
#top-button-icons a {
  color: #888888;
}
#top-button-icons span {
  padding: 10px 15px;
  border-radius: 30px;
  transform: rotate(-35deg);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: #cccccc;
  border: 3px solid;
  border-color: black;
  border-right-color: #3e3e3e;
  border-bottom-color: #3e3e3e;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}
#top-button-icons span:hover {
  background-color: #dbdada;
}

.bottom-buttons-spans {
  font-family: Arial;
  border-radius: 30px;
  background-color: #cccccc;
  color: #888888;
  padding: 8px 15px 10px;
  border: 3px solid;
  border-color: black;
  border-right-color: #3e3e3e;
  border-bottom-color: #3e3e3e;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}
.bottom-buttons-spans a {
  color: #888888;
}
.bottom-buttons-spans:hover {
  background-color: #dbdada;
}

.shop-grid {
  display: grid;
  grid-template-columns: 25px auto;
  gap: 15px;
  padding-right: 10px;
  margin-bottom: 10px;
  border-bottom: 2px dashed black;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}
.shop-grid.is-dark {
  border-bottom: 2px dashed white;
}
.shop-grid .price {
  text-align: center;
}
.shop-grid img {
  width: 100%;
}

.featured-products {
  margin-top: 100px;
}
.featured-products div {
  width: 49%;
  display: inline-block;
  margin: 5px 0;
  border-bottom: 2px dashed black;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}
.featured-products div.is-dark {
  border-bottom: 2px dashed white;
}
.featured-products div img {
  width: 100%;
}
.featured-products div p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.featured-products div:first-child {
  width: 100%;
}
.featured-products div:last-child {
  margin-left: 2%;
}
.featured-products div:nth-child(2) p, .featured-products div:last-child p {
  font-size: 10px !important;
}

.product-container {
  min-height: calc(100% - 10px);
}

.product-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  grid-template-areas: "img price" "desc desc";
  gap: 15px;
}
.product-grid .product-image {
  grid-area: img;
  width: 100%;
}
.product-grid .product-price {
  grid-area: price;
  text-align: center;
}
.product-grid .product-desc {
  grid-area: desc;
}

.loading {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.instructions {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 97%;
  height: 97%;
}
.instructions span {
  color: red;
}

.cell {
  border: 1px solid #ddd;
  padding: 0;
  aspect-ratio: 1/1;
}

.snake {
  background-color: green;
}

.food {
  background-color: red;
}

.frog {
  background-color: green;
}

.car {
  background-color: red;
}

.log {
  background-color: #2196f3;
}

table {
  border-collapse: collapse;
  width: 100%;
  min-height: 100%;
}

tbody {
  width: 100%;
  height: 100%;
}

tr {
  width: 100%;
}

@media screen and (min-width: 900px) {
  .mobile {
    display: none !important;
  }
  .tablet {
    display: block !important;
  }
  #gameboy {
    width: 900px;
    min-height: 450px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "dpad screen top-buttons" "bottom-buttons screen vent";
  }
  #gameboy .dpad-grid {
    grid-area: dpad;
  }
  #gameboy .screen-grid {
    grid-area: screen;
  }
  #gameboy .top-buttons-grid {
    grid-area: top-buttons;
  }
  #gameboy .bottom-buttons-grid {
    grid-area: bottom-buttons;
  }
  #gameboy .vent-grid {
    grid-area: vent;
  }
  #gameboy #screen-container {
    background-color: #cccccc;
    color: black;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 10px 30px;
    border-radius: 10px;
  }
  #gameboy #screen-container #settings-container {
    font-size: 12px;
    width: 100%;
    height: 30px;
  }
  #gameboy #screen-container #settings-container ul {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    padding: 10px 0 0;
  }
  #gameboy #screen-container #settings-container button {
    padding: 0;
    width: 30px;
  }
  #gameboy #gameboy-label {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  #screen {
    width: 450px;
  }
  .screen-grid {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  #d-pad-container {
    display: flex !important;
  }
  #d-pad {
    display: grid !important;
  }
  #top-button-icons {
    display: flex !important;
  }
  .bottom-buttons-grid {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
    gap: 20px;
  }
  .featured-products div:nth-child(2) p, .featured-products div:last-child p {
    font-size: 8px !important;
  }
  .shop-grid {
    grid-template-columns: 20px auto 80px;
    gap: 15px;
  }
  .shop-grid .price {
    text-align: center;
  }
  .product-grid {
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto;
    grid-template-areas: "img desc" "price desc";
    gap: 15px;
  }
  .product-grid .product-image {
    grid-area: img;
    width: 100%;
  }
  .product-grid .product-price {
    grid-area: price;
    text-align: center;
  }
  .product-grid .product-desc {
    grid-area: desc;
  }
}