// CSS RESETS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Imports
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "../../node_modules/nes.css/css/nes.css";

// Custom Imports
@import "./variables";
@import "./responsive/mobile";
@import "./responsive/tablet";